@import "../../styles/variables";
@import "../../styles/breakpoint";

.RegisterContainer {
  min-height: calc(100vh - 180px);
  @include xl {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 190px);
  }
}

.Register {
  margin-top: 4rem;
  padding: 0 4rem;

  @include xl {
    margin-top: 1rem;
  }

  h1,
  h4 {
    text-align: center;
    color: $primary-color;
  }

  h1 {
    margin: 0 auto;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;

    @include xl {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: 400;
      padding: 0 10rem;
    }
  }
  h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 3rem;
    @include xl {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 300;
      padding: 0 20rem;
    }
  }

  h4 {
    padding-bottom: 0;
    font-size: 1.5rem;

    @include xl {
      padding-bottom: 0rem;
      font-size: 1.2rem;
    }
  }
  h4 span {
    font-weight: 500;
  }
}

.ExtraInfoContainer {
  margin: 1.5rem 0;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-align: center;
  @include xl {
    margin: 1.5rem 0;
    margin-bottom: 3rem;
    font-size: 1rem;
    text-align: center;
  }

  span {
    font-weight: 600 !important;
    text-decoration: underline;
  }

  p {
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: $danger;
    text-align: center;
    padding: 0 4rem;

    @include xl {
      margin: 0 auto;
      margin-bottom: 0.7rem;
      font-size: 1rem;
      font-weight: 400;
      color: $danger;
      text-align: center;
      padding: 0 20rem;
    }
  }
}

.FormContent {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1.5rem 2rem;
  flex: 1 0 auto;
  padding: 1.5rem;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  @include xl {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: none;
  }
}

.FormRight {
  @include xl {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    width: 25%;
  }
}

// ===> Buttons Container Style
.AloneButtonContainer {
  margin: 3rem 0;
  text-align: center;
  @include xl {
    margin: 0;
    text-align: center;
  }
}

.ButtonContainer {
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  @include xl {
    margin: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }
}

.ConfirmAddressContainer {
  @include xl {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.TermsContainer {
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include xl {
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35rem;
  }

  p {
    text-align: left;
    font-size: 1.2rem;
    @include xl {
      text-align: left;
      font-size: 1rem;
    }
  }
  a {
    color: $tertiary-color;
    font-weight: 600;
  }
}

.CardContainer {
  padding: 0rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include xl {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.CardInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.3) 0px 0.125em 0.5em,
    rgba(253, 251, 251, 0.1) 0px 0px 0px 1px inset;
  padding: 2rem 1.5rem;
  width: 100%;
  @include xl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.61) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.541) 0px 0.125em 0.5em,
      rgba(133, 130, 130, 0.1) 0px 0px 0px 1px inset;
    padding: 1rem 0rem;
    width: 25rem;
  }
  h3 {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 1.7rem;
    text-align: center;
    text-decoration: underline;
    @include xl {
      margin-bottom: 1.5rem;
      font-weight: 400;
      font-size: 1rem;
      text-align: center;
      text-decoration: underline;
    }
  }
  p {
    color: $primary-color;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    margin-top: 0.5rem;
    @include xl {
      color: $primary-color;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      margin-top: 0.5rem;
    }
  }
}

.ErrorInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  @include xl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    font-weight: 400;
    color: $danger;
    font-size: 1.3rem;
    @include xl {
      font-weight: 400;
      color: $danger;
      font-size: 1rem;
    }
  }
}

.TermsContainerStripe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
  @include xl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  p {
    font-weight: 300;
    font-size: 1.6rem;

    @include xl {
      font-weight: 300;
      font-size: 1rem;
    }
  }
  a {
    color: $tertiary-color;
    font-weight: 400;
    @include xl {
      color: $tertiary-color;
      font-weight: 400;
    }
  }
  input {
    margin-right: 1rem;
    height: 4rem;
    width: 4rem;
    @include xl {
      margin-right: 0.5rem;
      height: 1.1rem;
      width: 1.1rem;
    }
  }
}

.SuccessPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  @include xl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    height: 100vh;
  }
}

.SuccessPageText {
  margin: 0 auto;
  color: black;
  @include xl {
    margin: 0 auto;
    color: black;
  }
  h1 {
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    font-weight: 400;
  }
  h2 {
    margin-bottom: 3rem;
    font-size: 1rem;
    font-weight: 300;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
  }
}

.GoogleSuggestionContainer {
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0px 0px 7px 0px #000000;
  box-shadow: 0px 0px 7px 0px #000000;
  margin-top: -2rem;
  margin-bottom: 2rem;
  @include xl {
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0px 0px 7px 0px #000000;
    box-shadow: 0px 0px 7px 0px #000000;
    margin-top: -2rem;
    margin-bottom: 2rem;
  }
}

.GoogleSuggestion {
  width: 275px;
  height: 40px;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: black;
  @include xl {
    width: 500px;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: black;
  }
}

.FormIntern {
  @include xl {
    margin: 0 auto;
    width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }
}

.GroupInput {
  @include xl {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.FormLeft {
  @include xl {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    width: 20rem;
  }
}

.GroupInputAlone {
  @include xl {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
