@import "../../styles/_variables";
@import "../../styles/breakpoint";

.HomePageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;

  height: 72vh;
  @include xl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;

    background-color: white;
    height: 80vh;
  }
}

.HomePageText {
  margin: 0 auto;
  color: black;
  padding: 0 2rem;
  @include xl {
    margin: 0 auto;
    color: black;
  }
  h1 {
    @include xl {
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
      font-weight: 400;
    }
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 400;
  }
  h2 {
    @include xl {
      margin-bottom: 3rem;
      font-size: 1.5rem;
      font-weight: 300;
    }
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 300;
  }
  p {
    @include xl {
      font-size: 1rem;
      margin-bottom: 2rem;
      font-weight: 400;
    }
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 400;
  }
  img {
    width: 30rem;
  }
  @include xl {
    img {
      width: 25rem;
    }
  }
}
