@import "../../styles/_variables";
@import "../../styles/_breakpoint";

.SuccessPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-top: 10rem;
  height: 100%;
  @include xl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem;
    background-color: white;
    height: 100%;
  }
}

.SuccessPageText {
  margin: 0 auto;
  padding: 0 1rem;
  color: black;
  @include xl {
    margin: 0 auto;
    color: black;
    padding: 0 3rem;
  }
  h1 {
    @include xl {
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
      font-weight: 400;
    }
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 400;
  }
  h2 {
    @include xl {
      margin-bottom: 3rem;
      font-size: 1.5rem;
      font-weight: 300;
    }
    margin-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 300;
  }
  p {
    @include xl {
      font-size: 1rem;
      margin-bottom: 2rem;
      font-weight: 400;
    }
    font-size: 1.5rem;
    margin-bottom: 4rem;
    font-weight: 400;
  }
  img {
    width: 25rem;
    margin: 0 auto;
    @include xl {
      width: 30rem;
      margin: 0 auto;
    }
  }
}
