@import "../../styles/variables";
@import "../../styles/breakpoint";

.selectContainer {
  margin-bottom: 4rem;
  font-family: Nunito, sans-serif;
  outline: none;
  display: flex;
  flex-direction: column;
  @include xl {
    margin-bottom: 3rem;
    font-family: Nunito, sans-serif;
    outline: none;
    display: flex;
    flex-direction: column;
  }
  .selectLabel {
    color: $primary-color;
    font-weight: 500;
    font-size: 1.7rem;
    outline: none;
    @include xl {
      color: $primary-color;
      font-weight: 500;
      font-size: 1rem;
      outline: none;
    }
  }
  .selectInput {
    height: 2.5em;
    padding: 0.4em 0.8em;
    border-radius: 20px;
    border: 1px solid $tertiary-color;
    background-color: none;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: rgba(2, 2, 2, 0.575);
    background-color: white;
    -webkit-appearance: none;
    cursor: pointer;
    @include xl {
      height: 2.2rem;
      // width: 100%;
      padding: 0.4em 0.8em;
      border-radius: 20px;
      border: 1px solid $tertiary-color;
      background-color: none;
      font-size: 0.8rem;
      margin-top: 1rem;
      color: rgba(2, 2, 2, 0.575);
      background-color: white;
      -webkit-appearance: none;
      cursor: pointer;
    }

    &:active,
    &:focus {
      border-color: $primary-color;
      outline: none;
      background-color: none !important;
    }
  }
}
